.btn-long{
    width: 100%;
}

#especial{
    border: none;
    background-color: forestgreen;
    color: white;
    padding: 10px;
    opacity: 75%;
    transition: 0.2s;
    border-radius: 5px;
}

#especial:hover{
    transition: 0.2s;
    opacity: 100%;
}